.emphasis {
    padding: 0 0.5em;
}

.emphasis__card {
    display: flex;
    padding: 1em 0;
    
}

.emphasis__image {
    width: 40%;
}

.card__content {
    padding: 0 .5em;
}
.card__number {
    font-size: 3em;
    color: var(--grayish-blue);
    align-items: flex-start;
}

.card__title {
    font-size: 1.2em;
    color: var(--very-dark-blue);
}

.card__text {
    color: var(--grayish-blue);
    font-size: 1em;
    line-height: 1.5em;
    
}