.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

.header__logo {
    //padding: 2em 1em;
}

.header__menu {
    background: white;
    border: none;
}

.icon_open {
    background-image: url(../images/icon-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.icon_close {
    background-image: url(../images/icon-menu-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.menu__desk {
    display: none;
}

@media screen and (min-width: 1440px) {
    
    .header__menu {
        display: none;
    }

    
    
}
