.primary {
    
}

.primary__image {
    width: 100%;
    padding: 0 .5em;
}

.primary__title {
    padding: 0 .2em;
    font-size: 3em;
    font-weight: 800;
}

.primary__text {
    padding: 0 .5em;
    font-size: 1.1em;
    color: var(--dark-grayish-blue);
    line-height: 1.7em;
    margin-bottom: 2em;
}

.primary__button {
    color: var(--off-white);
    background: var(--red);
    margin-left: .5em;
    padding: 1em 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.primary__image-desk {
    display: none;
}

@media screen and (min-width: 1440px) {
    .primary {
        display: grid;
        grid-template-columns: 33.33% 33.33%;
        grid-template-rows: auto auto;
    }

    .primary__image {
        display: none;
    }

    .primary__image-desk {
        width: 100%;
    }

    .primary__content {
        grid-column: 1 / 3;
    }    

}