@import url("header.css");
@import url("menu.css");
@import url("primary.css");
@import url("new.css");
@import url("emphasis.css");



:root {
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}




 .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (min-width: 1440px) {
    .app {
        display: grid;
        grid-template-areas:
            "header"
            "container"
            "footer";
        
        grid-template-columns: auto;
        grid-auto-rows: auto;
    }

    .header {
      grid-area: header;
    }

    .container {
      grid-area: container;
    }

    .footer {
      grid-area: footer;
    }
    
    

    

}